.contato {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.formulario {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.formulario button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #111;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover {
  background-color: #1db954;
}
